{% extends "layout.html" %}
{% block content %}
      <h1 >Steward <span style="background-color: #e5f502">Scholar</span></h1>
      
      <p> Steward Scholar is a database website that maintains possible ethical issues with research papers.<br>
      Database is built on the assumption that an ethical issue raised for some paper will have causal effect on <br>
      linked research papers i.e the papers that cite the initial paper and so on.<br></p>
      
      <p>Currently in development phase. The website provide following functionalities<br>
        <ul>
          <li><a href="">Display Research Paper</a><br>
            Search by Title. It will display information related to a research paper and flags associated with it<br></li>
          <li><a href="">Add Flag</a><br>
            On research paper display page, user can add a flag, consequently all papers reachable from the current<br>
            will get flagged with proper intesity.<br></li>
          <li><a href="">Display Flag</a><br>
            On display research paper page, user can click view flag, user can view all the information regarding the flag and debates</li>
          <li><a href="">Debate on Flag</a><br>
            On display flag paper page, user can participate in debate regarding current flag, put forward counter arguments</li>  
          <li><a href="">Track Flag</a><br>
            On flag display page, user can click track flag to find where it originated from.   
        </ul>
      </p>
{% endblock content %}