{% extends "layout.html" %}
{% block content %}
        <h1 >Steward <span style="background-color: #e5f502">Scholar</span></h1>
        <br><br>  
        
        <p><b>Paper ID    : </b>{{paper[0][0]}}<p>
        <p><b>Paper Title : </b>{{paper[0][1]}}</p>
        <p><b>Paper Author: </b>{{paper[0][2]}}<br> <br>
        
        <a href="{{url_for('addFlag', pid = paper[0][0])}}"><b>Add a flag</b></a><br>
        
        <p><b><u>CURRENT FLAGS BELOW</u></b></p>
        
        {% for i in range(0,len) %}
            <div class="row">
                <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">{{flags[i][1]}}</h4>
                        <p class="card-text">
                            <b>DESCRIPTION</b> {{flags[i][3]}} <br>
                            <b>TYPE</b> {{flags[i][2]}} <br>
                            <b><a href="{{url_for('viewFlag', id = flags[i][0],
                                title = flags[i][1], type = flags[i][2], desc = flags[i][3], email = flags[i][4], super_id = flags[i][5])}}">View Flag</a></b>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        
    <!-- </div> -->
{% endblock content %}