{% extends "layout.html" %}
{% block content %}
      <h1 >Steward <span style="background-color: #e5f502">Scholar</span></h1>
      
      <p> Steward Scholar is a database website that maintains possible ethical issues with research papers.<br>
      Database is built on the assumption that an ethical issue raised for some paper will have causal effect on <br>
      linked research papers i.e the papers that cite the initial paper and so on.<br></p>
      
      <p>Read <a href="{{url_for('about')}}">Documention</a><br>
        <ul>
          <li><a href="{{url_for('searchPaper')}}">Search Research Paper</a><br>
            Search by ID. It will display information related to a research paper and flags associated with it<br></li>
          <li><a href="{{url_for('addPaper')}}">Add Research Paper</a><br>
            Add a research paper to database<br></li>     
        </ul>
      </p>
{% endblock content %}