{% extends "layout.html" %}
{% block content %}

    <h1> Add Delete Update Matching </h1>
    
    <form class="matchingUpdateQ" method="POST" action="{{url_for('getUpdateMatching')}}">  
      <select class="typeForm" id="typeSelector" type="text" name="type" placeholder="Select A type">
        <option id = "type" value="None">Type of Query</option>
        {% for a in types %}
          <OPTION id = {{a}} value={{a}}>{{a}}</option>
        {% endfor %}
      </select>
      <br><br>
      <h2>Fill Matching Info</h2>

      <h4>Product Id 1</h4>
      <input type="text" name="pid1" placeholder="product id1" value = "None">
      <!-- if none product id then show error -->
      <h4>Product Id 2</h4>
      <input type="text" name="pid2" placeholder="product id2" value = "None">
      <!-- if none product id then show error -->
      <h4>Match Stars</h4>
      <input type="text" name="stars" placeholder="stars" value = "None">
      <!-- if none product id then show error -->
      
      <br><br>
      <input class="btn btn-success" type="submit" value="Go">
    </form>

    
{% endblock content %}