{% extends "layout.html" %}
{% block content %}

    <h1> Product Query </h1>
    <h2>Filter Search</h2>
    <form class="productQ" method="POST" action="{{url_for('getProductQuery')}}">  
      <select class="categoryForm" id="categorySelector" type="text" name="category" placeholder="Select A Category">
        <option id = "category" value="None">category</option>
        {% for j in categories %}
          <OPTION id = {{j}} value={{j}}>{{j}}</option>
        {% endfor %}
      </select>
      <select class="colorForm" id="colorSelector" type="text" name="color" placeholder="Select A Color">
        <option id = "color" value="None">color</option>
        {% for c in colors %}
          <OPTION id = {{c}} value={{c}}>{{c}}</option>
        {% endfor %}
      </select>
      <select class="fabricForm" id="fabricSelector" type="text" name="fabric" placeholder="Select A fabric">
        <option id = "fabric" value="None">fabric</option>
        {% for f in fabrics %}
          <OPTION id = {{f}} value={{f}}>{{f}}</option>
        {% endfor %}
      </select>
      <select class="sizeForm" id="sizeSelector" type="text" name="size" placeholder="Select A Size">
        <option id = "size" value="None">size</option>
        {% for s in sizes %}
          <OPTION id = {{s}} value={{s}}>{{s}}</option>
        {% endfor %}
      </select>
      <select class="belowForm" id="belowSelector" type="text" name="below" placeholder="Select A price">
        <option id = "below" value="None">below price</option>
        {% for p in below %}
          <OPTION id = {{p}} value={{p}}>{{p}}</option>
        {% endfor %}
      </select>
      <select class="orderForm" id="orderSelector" type="text" name="order" placeholder="Select A Order">
        <option id = "order" value="None">order by</option>
        {% for a in orders %}
          <OPTION id = {{a}} value={{a}}>{{a}}</option>
        {% endfor %}
      </select>
      <br><br>
      <h2>Search by Product ID</h2>
      <input type="text" name="id" placeholder="product id" value = "None">
      <br><br>
      <input class="btn btn-success" type="submit" value="Search">
    </form>

    
{% endblock content %}