{% extends "layout.html" %}
{% block content %}
        
        {% for i in range(0,len) %}
            <div class="row">
                <div class="card" style="width: 50rem; margin-left: auto;
                margin-right: auto">
                    <div class="card-body">
                        <!-- <p>......................................................................................</p> -->
                        <h4 class="card-title">{{data[i][1]}}</h4>
                        <p class="card-text">
                            <b>S.No : </b> {{i}} <br> 

                            <b>ID : </b> {{data[i][0]}} <br>

                            <b>AGE : </b>  {{data[i][2]}} <br>
                            
                            <b>ADDRESS : </b>  {{data[i][3]}} <br>
                            
                            <b>COLLEGE : </b> {{data[i][4]}} <br>
                            
                            <b>ABOUT : </b> {{data[i][6]}} 
                            
                        </p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
    <!-- </div> -->
{% endblock content %}