{% extends "layout.html" %}
{% block content %}
        
        {% for i in range(0,len) %}
            <div class="row">
                S.No : {{i}}
                <div class="card-group">
                {% for j in data[i] %}
                <div class="card">
                    <div class="card-body">
                        <!-- <p>......................................................................................</p> -->
                        <h4 class="card-title">{{j}}</h4>
                        <p class="card-text">
                            asfasf
                        </p>
                    </div>
                </div>
                <br> <br>
                {% endfor %}
            </div>
            
        {% endfor %}
        
    <!-- </div> -->
{% endblock content %}